{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Youtube Clone{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <a href="/" class="navbar-brand">
            <span class="brand-icon"></span>
        </a>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li ><a href="{% url 'videos:upload' %}" class="nab-link btn-upload">Upload</a></li>
            <li><span class="nav-username">{{ user.username }}</span></li>
            <li>
                <form method="post" action="{% url 'accounts:logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="nab-link btn-outline logout-btn">Logout</button>
                </form>
            </li>
            {% else %}
            <li><a href="{% url 'accounts:login' %}" class="nab-link">Login</a></li>
            <li><a href="{% url 'accounts:signup' %}" class="nab-link btn-primary">Signup</a></li>
            {% endif %}
        </ul>    
    </nav>
    <main class="main-content">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message {{ message.tags }}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>

    {% block extra_js %}{% endblock %}
</body>
</html>